/* ביטול כל ההגדרות שדוחפות את התוכן הצידה */
:root {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw; /* פריסה על כל רוחב המסך */
  min-height: 100vh;
  display: block; /* חשוב מאוד! לבטל flex אם קיים כאן */
  background-color: #f4f7f6; /* הרקע האפור שראינו בתמונה */
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /
}