@use '../../_variables' as var;

.searchButton {
  background-color: var.$primary-blue; 
  color: var.$white;
  border: none;
  border-radius: 8px; 
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  font-family: inherit;

  &:hover:not(:disabled) {
    background-color: var.$hover-blue;
  }

  &.disabled {
    background-color: #ccc; 
    cursor: not-allowed;
    opacity: 0.7;
  }

  &:active:not(:disabled) {
    transform: scale(0.98);
  }
}