@use '../../_variables' as var;

.deleteButton {
  width: 100%;
  height: 100%;
  
  background-color: var.$danger-red;
  color: var.$white;
  border: 1px solid black; 
  cursor: pointer;
  font-weight: bold;
  font-family: inherit;
  
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  outline: none;

  &:hover {
    background-color: var.$dark-red;
    border-color: #000;
  }

  &:active {
    transform: scale(0.95); 
    background-color: darken(var.$dark-red, 5%);
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5); 
  }
}